/* common */

.container {
    text-align: center;
    margin-top: 10px;
    padding: 30px 30px 10px 30px;
}

.wannabe-section {
    margin-bottom: 50px;
}

.bg-grey {
    background-color: #F9F9F9;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

img {
    height: 180px;
}

.blu-img {
    background-color: #428BCA;
    border-radius: 50%;
    padding: 20px;
    height: 250px;
}

p {
    padding-bottom: 10px;
}

hr {
   border: 1px solid black;
}

/* media */

@media screen and (max-width: 767px) {
    .container {
        margin-top: 0;
        padding: 5px;
    }

    h2 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 19px;
    }

    .bg-yellow {
        background-color: #F2F2CD;
    }

    img {
        width: 150px;
        height: auto;
    }

    .blu-img {
        height: 150px;
    }

    .wannabe-section {
        margin-bottom: 0;
    }

    p {
        padding-bottom: 5px;
    }
}




